<!-- navbar html file part-->
    <nav class="navbar">
        <div class="logo"><a href="">EXAMO</a></div>
        <ul class="nav-list background">

            <div class="list-items">
                <li><a href="homepage.html" class="active">Home</a> </li>
                <li><a href="">About</a></li>
                <li><a href="">Services</a></li>
                <li><a href="">Contact Us</a></li>
            </div>
        </ul>

    </nav>
    
    <!-- navbar css file part , just copy and paste ) -->
   @import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=KoHo:wght@300&family=Pangolin&family=Ubuntu:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(115, 247, 203);
}
.navbar{
    display: flex;
    
}
.nav-list{
    background-color: rgb(41, 41, 80);
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.nav-list li{
    
   list-style: none;
   padding: 1.3em; 

}
.list-items{
    display: flex;
    align-items:flex-end;
}

.nav-list li a{
    
   text-decoration: none;
    color: white;
}
.nav-list li a:hover{
    text-decoration: none;
     color: rgb(160, 224, 10);
 }
.logo{
    background-color: rgb(41, 41, 80);
    display: inline;
}
.logo a{
    color: rgb(116, 214, 214);    
    font-size: 2.2em;
    font-family: cursive;
    font-weight: 700;
    margin-left: 1em;
    text-decoration: none;
}
