.container{
    width: 300px;
    padding: 10px 20px;
    background-color: peru;
    box-shadow: 10px 10px 10px black,
                -10px -10px 10px white;
}
.container h2{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500px;
    font-size: 20px;
}
.container .form {
    font-size: large;
}
.container .form input[type=button]{
    font-size: large;
    padding: 10px 20px;
    border-radius: 1rem;
    background-color: green;
    color: white;
    box-shadow: 5px 5px rgb(105, 105, 105);
}
.container .form input[type=button]:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}
.container input[type=text],[type=password]{
 margin: 10px 20px;
 padding: 3px 5px;
font-size: medium;
padding: 4px 10px;
}