@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=KoHo:wght@300&family=Pangolin&family=Ubuntu:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(115, 247, 203);
}
.navbar{
    display: flex;
    
}
.nav-list{
    background-color: rgb(41, 41, 80);
    width: 100%;
    display: flex;
    align-items: center;
}
.nav-list li{
    
   list-style: none;
   padding: 1em; 

}
.list-items{
    display: flex;
    align-items:flex-end;
}
.list-items input{
    margin: 3px;
    border-radius: 5px;
    height: 22px;
}
.input{
    display: flex;
    padding: 4px;
    margin-left: 340px;
    margin-bottom: 6px;
}
.nav-list li a{
    
   text-decoration: none;
    color: white;
}
.nav-list li a:hover{
    text-decoration: none;
     color: rgb(160, 224, 10);
 }
.logo{
    margin-left: 1rem;
    color: rgb(116, 214, 214);
    display: inline;
    font-size: 2.2em;
    font-family: cursive;
    font-weight: 700;
}
.firstsection{
    height: 90vh;   
}


.box-main{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 80%;
    margin: auto;
    margin-top: 5em;
    padding: 40px;
    border-radius: 2rem;
    background-color: rgb(233, 249, 250);
    box-shadow: 10px 10px 10px rgb(192, 183, 201);   

}

.firsthalf{
    display: flex;
    flex-direction: column;
    width: 70%;
   color: rgb(75, 68, 68);
   
}
.secondhalf{
    width: 40%;
    float: right;
    padding: 1.3em;
}
.secondhalf img{
    width: 110%;
    height: 260px;
    border-radius: 9px;
    box-shadow: 10px 10px 10px rgb(147, 131, 163);   
}
.text-big{
    text-shadow: 3px 3px rgb(159, 159, 167);
    font-size: 3.2rem;
    font-weight: 900;
    color: rgb(27, 91, 94);
    font-family: Pangolin;

}
.text-small{
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 600; 
    color: rgb(0, 0, 0);
}
.btn{
    padding: 7px;
    border-radius: 12px;
    background-color: #4b04809e;
    color: white;
    margin: 17px 6px;
    width: 91px;
    height: 40px;
}
.icons{
    background-color: rgba(41, 41, 80, 0.966);
}
.icons-list{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.fa {
    color: white;
    padding: 18px;
    font-size: 33px;
    width: 33px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  .copyRight{
      padding: 0.8rem;
      color: white;
      display: flex;
      justify-content: center;  
      align-items: center; 
      background-color: rgb(41, 41, 80);
  }